@import '../../styles/base';

.widget-sensation {
  display: flex;
  align-items: center;
}

.app-sensation-weather {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.4rem 0;
  color: white;
  font-size: 7rem;
  @include webfont('semibold');

  @include media-mix() {
    font-size: 6rem;
  }
}
