@import '../../styles/base';

.widget-gif {
  width: 200px;
  height: 100%;
}

.widget-description {
  display: flex;
  align-items: center;
  min-height: 16rem;
  width: 100%;
}

.widget-info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @include size(22rem, 100%);
  padding-left: 2rem;
  margin: 1.6rem 0;
}

.widget-info-actual {
  text-align: center;
  width: 17rem;
  font-size: 10rem;
  @include webfont('medium');
  color: white;
}

.widget-info-city {
  position: relative;
  z-index: 2;
  font-size: 4rem;
  color: white;
  // color: rgb(40, 242, 245);
  @include webfont('semibold');
  margin-bottom: 0.4rem;
  width: 22rem;
}
.widget-info-description {
  width: 100%;
  color: white;
  font-size: 2rem;
  @include webfont('semibold');
  margin-bottom: 2rem;
  text-align: left;
}

.widget-info-temp-container {
  display: flex;
  grid-gap: 1rem;
  font-size: 1.8rem;
}

.widget-info-temp {
  color: white;
  @include webfont('medium');
}

.widget-description-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16rem;
  margin: 2rem;
  color: rgba(#702622, 0.7);
  font-size: 2rem;
}
