@import '../../styles/base';

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include size(40rem, auto);
  border-radius: 12px;
  margin-top: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);

  @include media-mix() {
    max-width: 35rem;
    box-shadow: 5px 3px 5px rgba(40, 242, 245, 0.4);
    box-shadow: 0px 0px 8px rgba(white, 0.2);
  }

  &.small {
    @include size(18rem, 13.1rem);

    @include media-mix() {
      width: 16rem;
    }
  }

  &:hover {
    box-shadow: 5px 3px 5px rgba(40, 242, 245, 0.4);
    box-shadow: 0px 0px 8px rgba(white, 0.2);
  }
}

.widget-title {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 1.8rem;
  @include webfont('medium');
  color: white;
  margin-top: 1.6rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgba(white, 0.4);

  &.small {
    margin-top: 1rem;
  }
}
