@import '../../styles/base';

.cities-column-container {
  margin: 2rem;

  @include media-mix() {
    margin-bottom: 0;
  }
}

.cities-column-input {
  display: flex;
  display: row;
  align-items: center;
  gap: 0.8rem;

  @include media-mix() {
    margin-right: 0.4rem;
  }
}
.input-cities {
  width: 200px;
  height: 4rem;

  @include media-mix() {
    width: 80%;
    max-width: 30rem;
  }
}
.button-cities {
  width: 5rem;
}

.button.button-cities {
  button {
    background-color: rgba(white, 0.3);

    &:hover {
      background-color: rgba(white, 0.2);
    }
  }

  .remixicon-icon {
    @include size(2rem);
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.city-map-container {
  position: relative;
}

.city-map {
  position: absolute;
  top: -14px;
  padding: 4px 0;
  width: 100%;
  z-index: 4;
  overflow: auto;

  @media (max-width: 670px) {
    background-color: rgba(black, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 0px 8px 8px 8px;
    width: calc(100% - 8px);
  }
}

.city-item {
  margin: 1rem 0;
  color: white;
  @include webfont('medium');
  cursor: pointer;
  &:hover {
    text-shadow: 1px 1px 10px rgba(white, 0.7);
  }
  @media (max-width: 670px) {
    margin-left: 8px;
  }
}

.city-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
}

.city-not-found-text {
  text-align: center;
  color: white;
  font-size: 1.8rem;
  @include webfont('medium');

  &.extra {
    margin-top: 0.8rem;
    font-size: 1rem;
    opacity: 0.8;
  }
}

.city-not-found-image {
  @include size(20rem, auto);
}
