@import './styles/_base.scss';

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

  @include media-mix() {
    align-items: unset;
    margin-top: 0;
  }
}

.App-body-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include size(77rem, 95rem);
  border-radius: 12px;

  @include media-mix() {
    height: 102rem;
    border-radius: 0;
  }
}

.app-small-widgets {
  display: flex;
  justify-content: space-between;

  @include media-mix() {
    width: 35rem;
  }
}

.app-first-column {
  width: 30rem;

  @include media-mix() {
    width: 100%;
  }
}

.App-body {
  display: flex;
  flex-direction: row;

  @media (max-width: 670px) {
    flex-direction: column;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.city-item {
  display: flex;
  grid-gap: 1rem;
  font-size: 1.6rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-second-column {
  margin-left: 2rem;

  @include media-mix() {
    margin-right: 1rem;
  }
}

.widget-error-text {
  display: flex;
  align-items: center;
  justify-content: center;
  @include size(100%);
  margin: 2rem 0;
  color: white;
  font-size: 2rem;
}
